<!DOCTYPE html>
<head>
    <title>Important Things to Know</title>
</head>
<body>
    <header>
        <h1><a href="/">Blog</a></h1>
    </header>

    <article>
        <time>published: 7.12.2021, 2:14</time>
        <h2><a href="">First Post</a></h2>
        <p>Hello friends we have a lovely post here for you</p>
    </article>

    <article>
        <time>published: 7.12.2021, 2:16</time>
        <h2><a href="">Second Post</a></h2>
        <p>Hello lovely people there is another not so lovely post here</p>
    </article>
</body>
</html>